.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5vh 25vw 5vh 20vw;
  height: 80vh;
  background-image: url('./assets/meeting.png');
  background-repeat: no-repeat;
  background-size: 60vw 80vh;
  background-position: center;
}

app-message{
  height: 100%;
}