body{
  background-image: url('./assets/space2.jpeg');
  font-size: 24px;
}

@font-face {
  font-family: 'In your face, joffrey!';
  src: url('./assets/In\ your\ face\,\ joffrey!.ttf');
}

* {
  font-family: 'In your face, joffrey!';
}